.text-content-primary {
  color: var(--color-content-primary);
}
.text-content-secondary {
  color: var(--color-content-secondary);
}
.text-content-tertiary {
  color: var(--color-content-tertiary);
}
.text-content-placeholder {
  color: var(--color-content-placeholder);
}
.text-content-hint {
  color: var(--color-content-hint);
}
.text-content-disabled {
  color: var(--color-content-disabled);
}
.text-primary {
  color: var(--color-primary);
}
.text-on-primary {
  color: var(--color-on-primary);
}

.bg-background {
  background-color: var(--color-background);
}
.bg-surface {
  background-color: var(--color-surface);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-subtle {
  background-color: var(--color-primary-bg-subtle);
}

.text-success {
  color: var(--color-success);
}
.text-danger {
  color: var(--color-danger);
}

.bg-success {
  background-color: var(--color-success);
}
.bg-success-subtle {
  background-color: var(--color-success-bg-subtle);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-danger-subtle {
  background-color: var(--color-danger-bg-subtle);
}


.ring-primary {
  --tw-ring-color: var(--color-primary);
}