:root {
  --color-border-light: #f3f4f6;
  --color-border-default: #d5d7da;
  --color-border-strong: #d1d5db;
  --color-background: #f2f4f7;
  --color-surface: #ffffff;
  --color-surface-hover: #f8f9fa;
  --color-input-fill: #ffffff;
  --color-input-fill-disabled: #f8f9fa;
  --color-input-border: #ced4da;
  --color-input-border-hover: #adb5bd;
  --color-input-border-focused: #3b82f6;
  --color-content-primary: #212529;
  --color-content-secondary: #6c757d;
  --color-content-tertiary: #adb5bd;
  --color-content-placeholder: #adb5bd;
  --color-content-hint: #adb5bd;
  --color-content-disabled: #ced4da;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-disabled: #93c5fd;
  --color-primary-bg-subtle: #e6f1ff;
  --color-on-primary: #ffffff;
  --color-on-primary-disabled: #ffffff;
  --color-success: #198754;
  --color-success-hover: #157347;
  --color-success-disabled: #b1d8c6;
  --color-success-bg-subtle: #d1e7dd;
  --color-on-success: #ffffff;
  --color-on-success-disabled: #ffffff;
  --color-danger: #dc3545;
  --color-danger-hover: #bb2d3b;
  --color-danger-disabled: #f0b6bc;
  --color-danger-bg-subtle: #f8d7da;
  --color-on-danger: #ffffff;
  --color-on-danger-disabled: #ffffff;
  --color-outlined-fill: #ffffff;
  --color-outlined-border: #d5d7da;
  --color-outlined-hover: #fafafa;
  --color-outlined-disabled-border: #e9eaeb;
  --color-loader-default: #3b82f6;
  --dimen-btn-font-weight: 500;
  --dimen-btn-radius: 6px;
  --dimen-btn-xs-min-height: 32px;
  --dimen-btn-xs-min-width: 32px;
  --dimen-btn-xs-py: 4px;
  --dimen-btn-xs-px: 8px;
  --dimen-btn-xs-gap: 4px;
  --dimen-btn-xs-px-text: 2px;
  --dimen-btn-xs-font-size: 14px;
  --dimen-btn-xs-icon-size: 16px;
  --dimen-btn-sm-min-height: 36px;
  --dimen-btn-sm-min-width: 36px;
  --dimen-btn-sm-py: 6px;
  --dimen-btn-sm-px: 12px;
  --dimen-btn-sm-gap: 4px;
  --dimen-btn-sm-px-text: 2px;
  --dimen-btn-sm-font-size: 14px;
  --dimen-btn-sm-icon-size: 18px;
  --dimen-btn-md-min-height: 40px;
  --dimen-btn-md-min-width: 40px;
  --dimen-btn-md-py: 6px;
  --dimen-btn-md-px: 16px;
  --dimen-btn-md-gap: 4px;
  --dimen-btn-md-px-text: 2px;
  --dimen-btn-md-font-size: 14px;
  --dimen-btn-md-icon-size: 18px;
  --dimen-btn-lg-min-height: 44px;
  --dimen-btn-lg-min-width: 44px;
  --dimen-btn-lg-py: 8px;
  --dimen-btn-lg-px: 18px;
  --dimen-btn-lg-gap: 6px;
  --dimen-btn-lg-px-text: 2px;
  --dimen-btn-lg-font-size: 14px;
  --dimen-btn-lg-icon-size: 20px;
  --dimen-input-font-weight: 400;
  --dimen-input-radius: 6px;
  --dimen-input-sm-min-height: 36px;
  --dimen-input-sm-py: 6px;
  --dimen-input-sm-px: 12px;
  --dimen-input-sm-gap: 8px;
  --dimen-input-sm-font-size: 14px;
  --dimen-input-sm-icon-size: 18px;
  --dimen-input-md-min-height: 40px;
  --dimen-input-md-py: 6px;
  --dimen-input-md-px: 16px;
  --dimen-input-md-gap: 8px;
  --dimen-input-md-font-size: 14px;
  --dimen-input-md-icon-size: 18px;
  --dimen-input-lg-min-height: 44px;
  --dimen-input-lg-py: 8px;
  --dimen-input-lg-px: 18px;
  --dimen-input-lg-gap: 8px;
  --dimen-input-lg-font-size: 16px;
  --dimen-input-lg-icon-size: 20px;
}
