:root {
  --color-background: #f2f4f7;
  --color-surface: #ffffff;
  --color-surface-hover: #f8f9fa;
  --color-border-light: #e9ecef;
  --color-border: #dee2e6;
  --color-border-strong: #adb5bd;
  --color-input-border: #ced4da;
  --color-input-border-hover: #adb5bd;
  --color-input-border-focused: #3b82f6;
  --color-content-primary: #212529;
  --color-content-secondary: #6c757d;
  --color-content-tertiary: #adb5bd;
  --color-content-placeholder: #adb5bd;
  --color-content-hint: #adb5bd;
  --color-content-disabled: #ced4da;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-disabled: #93c5fd;
  --color-primary-bg-subtle: #e6f1ff;
  --color-on-primary: #ffffff;
  --color-on-primary-disabled: #ffffff;
  --color-success: #198754;
  --color-success-hover: #157347;
  --color-success-disabled: #b1d8c6;
  --color-success-bg-subtle: #d1e7dd;
  --color-on-success: #ffffff;
  --color-on-success-disabled: #ffffff;
  --color-danger: #dc3545;
  --color-danger-hover: #bb2d3b;
  --color-danger-disabled: #f0b6bc;
  --color-danger-bg-subtle: #f8d7da;
  --color-on-danger: #ffffff;
  --color-on-danger-disabled: #ffffff;
  --color-outlined-fill: #ffffff;
  --color-outlined-border: #d5d7da;
  --color-outlined-hover: #fafafa;
  --color-outlined-disabled-border: #e9eaeb;
  --color-loader-default: #3b82f6;
  --dimen-btn-md-radius: 4px;
  --dimen-btn-md-px: 16px;
  --dimen-btn-md-px-icon: 8px;
  --dimen-btn-md-px-gap: 12px;
  --dimen-btn-md-py: 6px;
  --dimen-btn-md-font-size: 14px;
  --dimen-btn-md-font-weight: 500;
  --dimen-btn-md-loader-size: 18px;
  --dimen-btn-md-min-height: 36px;
  --dimen-btn-md-min-width: 36px;
  --dimen-btn-sm-radius: 4px;
  --dimen-btn-sm-px: 12px;
  --dimen-btn-sm-px-icon: 6px;
  --dimen-btn-sm-px-gap: 8px;
  --dimen-btn-sm-py: 4px;
  --dimen-btn-sm-font-size: 13px;
  --dimen-btn-sm-font-weight: 500;
  --dimen-btn-sm-loader-size: 16px;
  --dimen-btn-sm-min-height: 32px;
  --dimen-btn-sm-min-width: 32px;
  --dimen-loader-size: 24px;
  --dimen-loader-thickness: 3px;
  --dimen-input-border-thickness: 1px;
  --dimen-input-md-radius: 4px;
  --dimen-input-md-px: 14px;
  --dimen-input-md-px-icon: 8px;
  --dimen-input-md-px-gap: 12px;
  --dimen-input-md-py: 8px;
  --dimen-input-md-font-size: 14px;
  --dimen-input-md-icon-size: 18px;
  --dimen-input-md-min-height: 36px;
  --dimen-input-md-min-width: 36px;
  --dimen-input-sm-radius: 4px;
  --dimen-input-sm-px: 12px;
  --dimen-input-sm-px-icon: 6px;
  --dimen-input-sm-px-gap: 8px;
  --dimen-input-sm-py: 4px;
  --dimen-input-sm-font-size: 13px;
  --dimen-input-sm-icon-size: 16px;
  --dimen-input-sm-min-height: 32px;
  --dimen-input-sm-min-width: 32px;
}
