.btn {
  font-weight: var(--dimen-btn-font-weight);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--dimen-btn-radius);
  cursor: pointer;
  transition: background 0.2s ease;
  user-select: none;
}

.btn--xs {
  padding: var(--dimen-btn-xs-py) var(--dimen-btn-xs-px);
  font-size: var(--dimen-btn-xs-font-size);
  min-height: var(--dimen-btn-xs-min-height);
  min-width: var(--dimen-btn-xs-min-width);
  --btn-icon-size: var(--dimen-btn-xs-icon-size);
  --btn-text-px: var(--dimen-btn-xs-px-text);
}


.btn--sm {
  padding: var(--dimen-btn-sm-py) var(--dimen-btn-sm-px);
  font-size: var(--dimen-btn-sm-font-size);
  min-height: var(--dimen-btn-sm-min-height);
  min-width: var(--dimen-btn-sm-min-width);
  --btn-icon-size: var(--dimen-btn-sm-icon-size);
  --btn-text-px: var(--dimen-btn-sm-px-text);
}

.btn--md {
  padding: var(--dimen-btn-md-py) var(--dimen-btn-md-px);
  font-size: var(--dimen-btn-md-font-size);
  min-height: var(--dimen-btn-md-min-height);
  min-width: var(--dimen-btn-md-min-width);
  --btn-icon-size: var(--dimen-btn-md-icon-size);
  --btn-text-px: var(--dimen-btn-md-px-text);
}

.btn--lg {
  padding: var(--dimen-btn-lg-py) var(--dimen-btn-lg-px);
  font-size: var(--dimen-btn-lg-font-size);
  min-height: var(--dimen-btn-lg-min-height);
  min-width: var(--dimen-btn-lg-min-width);
  --btn-icon-size: var(--dimen-btn-lg-icon-size);
  --btn-text-px: var(--dimen-btn-lg-px-text);
}



.btn--filled-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.btn--filled-primary:hover {
  background-color: var(--color-primary-hover);
}

.btn--filled-success {
  background-color: var(--color-success);
  color: var(--color-on-success);
}
.btn--filled-success:hover {
  background-color: var(--color-success-hover);
}

.btn--filled-danger {
  background-color: var(--color-danger);
  color: var(--color-on-danger);
}
.btn--filled-danger:hover {
  background-color: var(--color-danger-hover);
}

.btn--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.btn__loader {
  display: inline-flex;
  margin-right: 0.5rem;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  border-style: solid;

  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
  min-width: var(--btn-icon-size);
  min-height: var(--btn-icon-size);
  border-width: 2px;

  border-top-color: transparent;
  border-right-color: currentColor;
  border-bottom-color: currentColor;
  border-left-color: currentColor;
}

.btn__content {
  display: inline-flex;
  padding: 0 var(--btn-text-px);
}

.btn--outlined {
  background-color: var(--color-outlined-fill);
}

.btn--outlined-neutral {
  border: 1px solid var(--color-outlined-border);
  color: var(--color-content-primary);
}

.btn--outlined-neutral:hover {
  background-color: var(--color-outlined-hover);
}

.btn--outlined-primary {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--outlined-primary:hover {
  background-color: var(--color-primary-bg-subtle);
}

.btn--outlined-success {
  border: 1px solid var(--color-success);
  color: var(--color-success);
}
.btn--outlined-success:hover {
  background-color: var(--color-success-bg-subtle);
}

.btn--outlined-danger {
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}
.btn--outlined-danger:hover {
  background-color: var(--color-danger-bg-subtle);
}

.btn--outlined.btn--disabled {
  border-color: var(--color-outlined-disabled-border);
  background-color: var(--color-outlined-fill);
  color: var(--color-content-secondary);
}
