.dropdown-panel {
  position: absolute;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-border-strong);
  border-radius: 6px;
  backdrop-filter: blur(1rem);
  z-index: 10;
}
